## Запись данных наблюдений

In [6]:
import csv
from datetime import datetime
import psycopg2

In [19]:
#!!!
def get_datasets():
    datasets = {
        # 'Неман-Белица': 'Неман',
        # 'Неман-Гродно': 'Неман',
        # 'Неман-Мосты': 'Неман',
        # 'Неман-Столбцы': 'Неман',

        # 'Вилия-Стешицы': 'Вилия',
        # 'Вилия-Михалишки': 'Вилия',

        # 'ЗападнаяДвина-Сураж': 'ЗападнаяДвина-А',
        # 'ЗападнаяДвина-Верхнедвинск': 'ЗападнаяДвина-А',
        # 'ЗападнаяДвина-Витебск': 'ЗападнаяДвина-Б',
        # 'ЗападнаяДвина-Полоцк': 'ЗападнаяДвина-Б',

        # 'Сож-Кричев': 'Сож',
        'Сож-Славгород': 'Сож',
        'Сож-Гомель': 'Сож'
    }
    return datasets

In [20]:
get_datasets()

{'Сож-Славгород': 'Сож', 'Сож-Гомель': 'Сож'}

### Функция выборки гидропостов и их кодов из БД

In [21]:
def get_stations_db():
    db_params = {
        "host": "192.168.29.134",
        "database": "pkogo",
        "user": "pkogouser",
        "password": "pkogouser",
        "port": "5432"
    }
    try:
        conn = psycopg2.connect(**db_params)
        cursor = conn.cursor()
        print(cursor)
        print("DB connection works")
    except (Exception, psycopg2.Error) as error:
        print(f"Error connecting to database: {error}")


    sql = "SELECT station, station_id FROM maxlevel.STATIONS"
    cursor.execute(sql)
    result = cursor.fetchall()
    # print(result)

    if conn:
        cursor.close()
        conn.close()

    return {station: id for station, id in result}

In [22]:
get_stations_db()

<cursor object at 0x000001C14414F680; closed: 0>
DB connection works

{'Полоцк': 73122,
 'Столбцы': 74014,
 'Витебск': 73115,
 'Мосты': 74024,
 'Гродно': 74032,
 'Стешицы': 74198,
 'Михалишки': 74205,
 'Верхнедвинск': 73131,
 'Кричев': 79247,
 'Славгород': 79250,
 'Гомель': 79256,
 'Сураж': 73111,
 'Белица': 74021}

#### Функция чтения набора данных

In [23]:
# !!!
def write_dataset_db(year, dataset, db_connection, db_cursor):
    # Путь к csv-файлу
    ds_dir = f'data/{year}/Train'    
    fname = f'{ds_dir}/{dataset}.csv'

    # Извлечение название гидропоста из названия датасета,
    # например датасет Вилия-Михалишки, тогда гидропост Михалишки
    station = dataset.split('-')[1]
    
    # Извлечение из БД названий станций и их id (словарь)
    stations = get_stations_db()
    station_id = stations[station]
    
    print(f'fname==\n{fname}')
    with open(fname, newline='') as f: 
        reader = csv.DictReader(f, delimiter=';')
        # Прочитать заголовки
        fieldnames_list = ['station_id'] + reader.fieldnames
        fieldnames = ', '.join(fieldnames_list).replace('year', 'obs_year')
        print(f'fieldnames==\n{fieldnames}')

               
        # Создать плейсхолдер для sql
        placeholders = ', '.join([f'%({c})s' for c in fieldnames_list])
        print(f'placeholders==\n{placeholders}')

        sql = f"""
        INSERT INTO maxlevel.observations ({fieldnames}) 
        VALUES ({placeholders})
        """
        print(f'sql==\n{sql}')

        ## Удаление из таблицы наблюдений по данному датасету
        db_cursor.execute(f"DELETE FROM maxlevel.observations WHERE station_id={station_id}")
        db_connection.commit()
        
        ## Запись в таблицу Observations
        for row in reader:
            # Преобразование строк-дат в datetime
            for k in row:
                if 'd_' in k:
                    row[k] = datetime.strptime(row[k], '%d.%m.%Y')
                else:
                    row[k] = float(row[k])
            print(f'row==\n{row}')
            db_row = {'station_id': station_id} | row
            print(f'db_row==\n{db_row}')
            db_cursor.execute(sql, db_row)

        db_connection.commit()

In [24]:
def write_observations_db(year):

    db_params = {
        "host": "192.168.29.134",
        "database": "pkogo",
        "user": "pkogouser",
        "password": "pkogouser",
        "port": "5432"
    }
    try:
        conn = psycopg2.connect(**db_params)
        cursor = conn.cursor()
        print(cursor)
        print("DB connection works")
    except (Exception, psycopg2.Error) as error:
        print(f"Error connecting to database: {error}")
    
    # # Удаление ВСЕХ строк из таблицы
    # cursor.execute("DELETE FROM maxlevel.observations")
    # conn.commit()
    
    # Итерация по датасетам
    datasets = get_datasets()
    for ds in datasets:            
        write_dataset_db(year, ds, conn, cursor)

    if conn:
        cursor.close()
        conn.close()

In [25]:
_ = write_observations_db(2024) # Перезапись всех исходных данных (наблюдений) по всем гидропостам и рекам

<cursor object at 0x000001C14414F680; closed: 0>
DB connection works
<cursor object at 0x000001C14414F920; closed: 0>
DB connection works
fname==
data/2024/Train/Сож-Славгород.csv
fieldnames==
station_id, obs_year, d_0, S_2802, Smax, d_smax, H_2802, H_max, d_hmax, X, X1, X2, Xs, Q12, Q01, Q02, W12, W01, W02, Y12, Y01, Y02, Y_sum
placeholders==
%(station_id)s, %(year)s, %(d_0)s, %(S_2802)s, %(Smax)s, %(d_smax)s, %(H_2802)s, %(H_max)s, %(d_hmax)s, %(X)s, %(X1)s, %(X2)s, %(Xs)s, %(Q12)s, %(Q01)s, %(Q02)s, %(W12)s, %(W01)s, %(W02)s, %(Y12)s, %(Y01)s, %(Y02)s, %(Y_sum)s
sql==

        INSERT INTO maxlevel.observations (station_id, obs_year, d_0, S_2802, Smax, d_smax, H_2802, H_max, d_hmax, X, X1, X2, Xs, Q12, Q01, Q02, W12, W01, W02, Y12, Y01, Y02, Y_sum)
        VALUES (%(station_id)s, %(year)s, %(d_0)s, %(S_2802)s, %(Smax)s, %(d_smax)s, %(H_2802)s, %(H_max)s, %(d_hmax)s, %(X)s, %(X1)s, %(X2)s, %(Xs)s, %(Q12)s, %(Q01)s, %(Q02)s, %(W12)s, %(W01)s, %(W02)s, %(Y12)s, %(Y01)s, %(Y02)s, %(Y_sum)s)

row==
{'year': 1991.0, 'd_0': datetime.datetime(1990, 12, 6, 0, 0), 'S_2802': 21.0, 'Smax': 37.0, 'd_smax': datetime.datetime(1991, 2, 20, 0, 0), 'H_2802': 238.0, 'H_max': 292.0, 'd_hmax': datetime.datetime(1991, 3, 30, 0, 0), 'X': 67.3, 'X1': 29.1, 'X2': 20.9, 'Xs': 75.5, 'Q12': 83.0, 'Q01': 104.0, 'Q02': 166.0, 'W12': 222.0, 'W01': 279.0, 'W02': 402.0, 'Y12': 12.6, 'Y01': 15.7, 'Y02': 22.7, 'Y_sum': 51.0}
db_row==
{'station_id': 79250, 'year': 1991.0, 'd_0': datetime.datetime(1990, 12, 6, 0, 0), 'S_2802': 21.0, 'Smax': 37.0, 'd_smax': datetime.datetime(1991, 2, 20, 0, 0), 'H_2802': 238.0, 'H_max': 292.0, 'd_hmax': datetime.datetime(1991, 3, 30, 0, 0), 'X': 67.3, 'X1': 29.1, 'X2': 20.9, 'Xs': 75.5, 'Q12': 83.0, 'Q01': 104.0, 'Q02': 166.0, 'W12': 222.0, 'W01': 279.0, 'W02': 402.0, 'Y12': 12.6, 'Y01': 15.7, 'Y02': 22.7, 'Y_sum': 51.0}
row==
{'year': 1992.0, 'd_0': datetime.datetime(1991, 12, 4, 0, 0), 'S_2802': 29.0, 'Smax': 29.0, 'd_smax': datetime.datetime(1992, 2, 28, 0, 0), 'H_2802': 168.0, 'H_max': 281.0, 'd_hmax': datetime.datetime(1992, 4, 6, 0, 0), 'X': 78.0, 'X1': 42.8, 'X2': 42.8, 'Xs': 78.0, 'Q12': 125.0, 'Q01': 110.0, 'Q02': 78.6, 'W12': 335.0, 'W01': 295.0, 'W02': 190.0, 'Y12': 18.9, 'Y01': 16.6, 'Y02': 10.7, 'Y_sum': 46.3}
db_row==
{'station_id': 79250, 'year': 1992.0, 'd_0': datetime.datetime(1991, 12, 4, 0, 0), 'S_2802': 29.0, 'Smax': 29.0, 'd_smax': datetime.datetime(1992, 2, 28, 0, 0), 'H_2802': 168.0, 'H_max': 281.0, 'd_hmax': datetime.datetime(1992, 4, 6, 0, 0), 'X': 78.0, 'X1': 42.8, 'X2': 42.8, 'Xs': 78.0, 'Q12': 125.0, 'Q01': 110.0, 'Q02': 78.6, 'W12': 335.0, 'W01': 295.0, 'W02': 190.0, 'Y12': 18.9, 'Y01': 16.6, 'Y02': 10.7, 'Y_sum': 46.3}
row==
{'year': 1993.0, 'd_0': datetime.datetime(1992, 11, 28, 0, 0), 'S_2802': 23.0, 'Smax': 28.0, 'd_smax': datetime.datetime(1993, 3, 10, 0, 0), 'H_2802': 161.0, 'H_max': 293.0, 'd_hmax': datetime.datetime(1993, 3, 26, 0, 0), 'X': 94.7, 'X1': 22.1, 'X2': 25.1, 'Xs': 91.3, 'Q12': 71.8, 'Q01': 75.9, 'Q02': 75.0, 'W12': 192.0, 'W01': 203.0, 'W02': 181.0, 'Y12': 10.9, 'Y01': 11.5, 'Y02': 10.3, 'Y_sum': 32.6}
db_row==
{'station_id': 79250, 'year': 1993.0, 'd_0': datetime.datetime(1992, 11, 28, 0, 0), 'S_2802': 23.0, 'Smax': 28.0, 'd_smax': datetime.datetime(1993, 3, 10, 0, 0), 'H_2802': 161.0, 'H_max': 293.0, 'd_hmax': datetime.datetime(1993, 3, 26, 0, 0), 'X': 94.7, 'X1': 22.1, 'X2': 25.1, 'Xs': 91.3, 'Q12': 71.8, 'Q01': 75.9, 'Q02': 75.0, 'W12': 192.0, 'W01': 203.0, 'W02': 181.0, 'Y12': 10.9, 'Y01': 11.5, 'Y02': 10.3, 'Y_sum': 32.6}
row==
{'year': 1994.0, 'd_0': datetime.datetime(1993, 11, 5, 0, 0), 'S_2802': 65.0, 'Smax': 68.0, 'd_smax': datetime.datetime(1994, 3, 20, 0, 0), 'H_2802': 141.0, 'H_max': 363.0, 'd_hmax': datetime.datetime(1994, 4, 9, 0, 0), 'X': 157.4, 'X1': 25.8, 'X2': 52.9, 'Xs': 129.8, 'Q12': 88.4, 'Q01': 107.0, 'Q02': 89.2, 'W12': 237.0, 'W01': 287.0, 'W02': 216.0, 'Y12': 13.4, 'Y01': 16.2, 'Y02': 12.2, 'Y_sum': 41.8}
db_row==
{'station_id': 79250, 'year': 1994.0, 'd_0': datetime.datetime(1993, 11, 5, 0, 0), 'S_2802': 65.0, 'Smax': 68.0, 'd_smax': datetime.datetime(1994, 3, 20, 0, 0), 'H_2802': 141.0, 'H_max': 363.0, 'd_hmax': datetime.datetime(1994, 4, 9, 0, 0), 'X': 157.4, 'X1': 25.8, 'X2': 52.9, 'Xs': 129.8, 'Q12': 88.4, 'Q01': 107.0, 'Q02': 89.2, 'W12': 237.0, 'W01': 287.0, 'W02': 216.0, 'Y12': 13.4, 'Y01': 16.2, 'Y02': 12.2, 'Y_sum': 41.8}
row==
{'year': 1995.0, 'd_0': datetime.datetime(1994, 11, 11, 0, 0), 'S_2802': 32.0, 'Smax': 36.0, 'd_smax': datetime.datetime(1995, 1, 20, 0, 0), 'H_2802': 136.0, 'H_max': 288.0, 'd_hmax': datetime.datetime(1995, 3, 10, 0, 0), 'X': 95.1, 'X1': 72.8, 'X2': 4.8, 'Xs': 164.5, 'Q12': 71.1, 'Q01': 99.5, 'Q02': 58.5, 'W12': 190.0, 'W01': 267.0, 'W02': 142.0, 'Y12': 10.8, 'Y01': 15.1, 'Y02': 8.0, 'Y_sum': 33.8}
db_row==
{'station_id': 79250, 'year': 1995.0, 'd_0': datetime.datetime(1994, 11, 11, 0, 0), 'S_2802': 32.0, 'Smax': 36.0, 'd_smax': datetime.datetime(1995, 1, 20, 0, 0), 'H_2802': 136.0, 'H_max': 288.0, 'd_hmax': datetime.datetime(1995, 3, 10, 0, 0), 'X': 95.1, 'X1': 72.8, 'X2': 4.8, 'Xs': 164.5, 'Q12': 71.1, 'Q01': 99.5, 'Q02': 58.5, 'W12': 190.0, 'W01': 267.0, 'W02': 142.0, 'Y12': 10.8, 'Y01': 15.1, 'Y02': 8.0, 'Y_sum': 33.8}
row==
{'year': 1996.0, 'd_0': datetime.datetime(1995, 11, 3, 0, 0), 'S_2802': 30.0, 'Smax': 35.0, 'd_smax': datetime.datetime(1996, 3, 10, 0, 0), 'H_2802': 271.0, 'H_max': 295.0, 'd_hmax': datetime.datetime(1996, 4, 15, 0, 0), 'X': 97.5, 'X1': 19.8, 'X2': 30.4, 'Xs': 87.5, 'Q12': 74.7, 'Q01': 77.9, 'Q02': 182.0, 'W12': 200.0, 'W01': 209.0, 'W02': 440.0, 'Y12': 11.3, 'Y01': 11.8, 'Y02': 24.9, 'Y_sum': 48.0}
db_row==
{'station_id': 79250, 'year': 1996.0, 'd_0': datetime.datetime(1995, 11, 3, 0, 0), 'S_2802': 30.0, 'Smax': 35.0, 'd_smax': datetime.datetime(1996, 3, 10, 0, 0), 'H_2802': 271.0, 'H_max': 295.0, 'd_hmax': datetime.datetime(1996, 4, 15, 0, 0), 'X': 97.5, 'X1': 19.8, 'X2': 30.4, 'Xs': 87.5, 'Q12': 74.7, 'Q01': 77.9, 'Q02': 182.0, 'W12': 200.0, 'W01': 209.0, 'W02': 440.0, 'Y12': 11.3, 'Y01': 11.8, 'Y02': 24.9, 'Y_sum': 48.0}
row==
{'year': 1997.0, 'd_0': datetime.datetime(1996, 12, 15, 0, 0), 'S_2802': 5.0, 'Smax': 38.0, 'd_smax': datetime.datetime(1997, 2, 10, 0, 0), 'H_2802': 138.0, 'H_max': 230.0, 'd_hmax': datetime.datetime(1997, 3, 4, 0, 0), 'X': 44.4, 'X1': 29.1, 'X2': 7.5, 'Xs': 66.2, 'Q12': 55.1, 'Q01': 42.2, 'Q02': 39.0, 'W12': 148.0, 'W01': 113.0, 'W02': 94.0, 'Y12': 8.3, 'Y01': 6.4, 'Y02': 5.3, 'Y_sum': 20.1}
db_row==
{'station_id': 79250, 'year': 1997.0, 'd_0': datetime.datetime(1996, 12, 15, 0, 0), 'S_2802': 5.0, 'Smax': 38.0, 'd_smax': datetime.datetime(1997, 2, 10, 0, 0), 'H_2802': 138.0, 'H_max': 230.0, 'd_hmax': datetime.datetime(1997, 3, 4, 0, 0), 'X': 44.4, 'X1': 29.1, 'X2': 7.5, 'Xs': 66.2, 'Q12': 55.1, 'Q01': 42.2, 'Q02': 39.0, 'W12': 148.0, 'W01': 113.0, 'W02': 94.0, 'Y12': 8.3, 'Y01': 6.4, 'Y02': 5.3, 'Y_sum': 20.1}
row==
{'year': 1998.0, 'd_0': datetime.datetime(1997, 11, 27, 0, 0), 'S_2802': 0.0, 'Smax': 35.0, 'd_smax': datetime.datetime(1998, 2, 10, 0, 0), 'H_2802': 172.0, 'H_max': 295.0, 'd_hmax': datetime.datetime(1998, 4, 21, 0, 0), 'X': 84.3, 'X1': 125.6, 'X2': 27.7, 'Xs': 110.8, 'Q12': 74.9, 'Q01': 58.8, 'Q02': 54.8, 'W12': 201.0, 'W01': 157.0, 'W02': 133.0, 'Y12': 11.3, 'Y01': 8.9, 'Y02': 7.5, 'Y_sum': 27.7}
db_row==
{'station_id': 79250, 'year': 1998.0, 'd_0': datetime.datetime(1997, 11, 27, 0, 0), 'S_2802': 0.0, 'Smax': 35.0, 'd_smax': datetime.datetime(1998, 2, 10, 0, 0), 'H_2802': 172.0, 'H_max': 295.0, 'd_hmax': datetime.datetime(1998, 4, 21, 0, 0), 'X': 84.3, 'X1': 125.6, 'X2': 27.7, 'Xs': 110.8, 'Q12': 74.9, 'Q01': 58.8, 'Q02': 54.8, 'W12': 201.0, 'W01': 157.0, 'W02': 133.0, 'Y12': 11.3, 'Y01': 8.9, 'Y02': 7.5, 'Y_sum': 27.7}
row==
{'year': 1999.0, 'd_0': datetime.datetime(1998, 11, 8, 0, 0), 'S_2802': 75.0, 'Smax': 89.0, 'd_smax': datetime.datetime(1999, 3, 20, 0, 0), 'H_2802': 274.0, 'H_max': 325.0, 'd_hmax': datetime.datetime(1999, 4, 7, 0, 0), 'X': 111.0, 'X1': 9.8, 'X2': 34.2, 'Xs': 92.9, 'Q12': 67.5, 'Q01': 119.0, 'Q02': 108.0, 'W12': 181.0, 'W01': 319.0, 'W02': 261.0, 'Y12': 10.2, 'Y01': 18.0, 'Y02': 14.8, 'Y_sum': 43.0}
db_row==
{'station_id': 79250, 'year': 1999.0, 'd_0': datetime.datetime(1998, 11, 8, 0, 0), 'S_2802': 75.0, 'Smax': 89.0, 'd_smax': datetime.datetime(1999, 3, 20, 0, 0), 'H_2802': 274.0, 'H_max': 325.0, 'd_hmax': datetime.datetime(1999, 4, 7, 0, 0), 'X': 111.0, 'X1': 9.8, 'X2': 34.2, 'Xs': 92.9, 'Q12': 67.5, 'Q01': 119.0, 'Q02': 108.0, 'W12': 181.0, 'W01': 319.0, 'W02': 261.0, 'Y12': 10.2, 'Y01': 18.0, 'Y02': 14.8, 'Y_sum': 43.0}
row==
{'year': 2000.0, 'd_0': datetime.datetime(1999, 11, 15, 0, 0), 'S_2802': 75.0, 'Smax': 80.0, 'd_smax': datetime.datetime(2000, 3, 20, 0, 0), 'H_2802': 211.0, 'H_max': 307.0, 'd_hmax': datetime.datetime(2000, 4, 13, 0, 0), 'X': 39.5, 'X1': 49.1, 'X2': 74.2, 'Xs': 33.1, 'Q12': 164.0, 'Q01': 187.0, 'Q02': 110.0, 'W12': 439.0, 'W01': 501.0, 'W02': 266.0, 'Y12': 24.8, 'Y01': 28.3, 'Y02': 15.0, 'Y_sum': 68.1}
db_row==
{'station_id': 79250, 'year': 2000.0, 'd_0': datetime.datetime(1999, 11, 15, 0, 0), 'S_2802': 75.0, 'Smax': 80.0, 'd_smax': datetime.datetime(2000, 3, 20, 0, 0), 'H_2802': 211.0, 'H_max': 307.0, 'd_hmax': datetime.datetime(2000, 4, 13, 0, 0), 'X': 39.5, 'X1': 49.1, 'X2': 74.2, 'Xs': 33.1, 'Q12': 164.0, 'Q01': 187.0, 'Q02': 110.0, 'W12': 439.0, 'W01': 501.0, 'W02': 266.0, 'Y12': 24.8, 'Y01': 28.3, 'Y02': 15.0, 'Y_sum': 68.1}
row==
{'year': 2001.0, 'd_0': datetime.datetime(2000, 11, 24, 0, 0), 'S_2802': 66.0, 'Smax': 81.0, 'd_smax': datetime.datetime(2001, 3, 10, 0, 0), 'H_2802': 217.0, 'H_max': 296.0, 'd_hmax': datetime.datetime(2001, 3, 23, 0, 0), 'X': 187.4, 'X1': 19.3, 'X2': 44.5, 'Xs': 160.0, 'Q12': 81.2, 'Q01': 94.6, 'Q02': 101.0, 'W12': 217.0, 'W01': 253.0, 'W02': 244.0, 'Y12': 12.3, 'Y01': 14.3, 'Y02': 13.8, 'Y_sum': 40.4}
db_row==
{'station_id': 79250, 'year': 2001.0, 'd_0': datetime.datetime(2000, 11, 24, 0, 0), 'S_2802': 66.0, 'Smax': 81.0, 'd_smax': datetime.datetime(2001, 3, 10, 0, 0), 'H_2802': 217.0, 'H_max': 296.0, 'd_hmax': datetime.datetime(2001, 3, 23, 0, 0), 'X': 187.4, 'X1': 19.3, 'X2': 44.5, 'Xs': 160.0, 'Q12': 81.2, 'Q01': 94.6, 'Q02': 101.0, 'W12': 217.0, 'W01': 253.0, 'W02': 244.0, 'Y12': 12.3, 'Y01': 14.3, 'Y02': 13.8, 'Y_sum': 40.4}
row==
{'year': 2003.0, 'd_0': datetime.datetime(2002, 11, 29, 0, 0), 'S_2802': 55.0, 'Smax': 60.0, 'd_smax': datetime.datetime(2003, 2, 20, 0, 0), 'H_2802': 199.0, 'H_max': 258.0, 'd_hmax': datetime.datetime(2003, 4, 11, 0, 0), 'X': 57.9, 'X1': 41.5, 'X2': 41.0, 'Xs': 58.7, 'Q12': 82.8, 'Q01': 62.4, 'Q02': 290.0, 'W12': 222.0, 'W01': 167.0, 'W02': 702.0, 'Y12': 12.5, 'Y01': 9.4, 'Y02': 39.6, 'Y_sum': 61.6}
db_row==
{'station_id': 79250, 'year': 2003.0, 'd_0': datetime.datetime(2002, 11, 29, 0, 0), 'S_2802': 55.0, 'Smax': 60.0, 'd_smax': datetime.datetime(2003, 2, 20, 0, 0), 'H_2802': 199.0, 'H_max': 258.0, 'd_hmax': datetime.datetime(2003, 4, 11, 0, 0), 'X': 57.9, 'X1': 41.5, 'X2': 41.0, 'Xs': 58.7, 'Q12': 82.8, 'Q01': 62.4, 'Q02': 290.0, 'W12': 222.0, 'W01': 167.0, 'W02': 702.0, 'Y12': 12.5, 'Y01': 9.4, 'Y02': 39.6, 'Y_sum': 61.6}
row==
{'year': 2004.0, 'd_0': datetime.datetime(2003, 12, 1, 0, 0), 'S_2802': 90.0, 'Smax': 109.0, 'd_smax': datetime.datetime(2004, 3, 10, 0, 0), 'H_2802': 115.0, 'H_max': 398.0, 'd_hmax': datetime.datetime(2004, 3, 28, 0, 0), 'X': 223.6, 'X1': 46.6, 'X2': 57.8, 'Xs': 217.4, 'Q12': 41.5, 'Q01': 49.2, 'Q02': 52.5, 'W12': 111.0, 'W01': 132.0, 'W02': 127.0, 'Y12': 6.3, 'Y01': 7.4, 'Y02': 7.2, 'Y_sum': 20.9}
db_row==
{'station_id': 79250, 'year': 2004.0, 'd_0': datetime.datetime(2003, 12, 1, 0, 0), 'S_2802': 90.0, 'Smax': 109.0, 'd_smax': datetime.datetime(2004, 3, 10, 0, 0), 'H_2802': 115.0, 'H_max': 398.0, 'd_hmax': datetime.datetime(2004, 3, 28, 0, 0), 'X': 223.6, 'X1': 46.6, 'X2': 57.8, 'Xs': 217.4, 'Q12': 41.5, 'Q01': 49.2, 'Q02': 52.5, 'W12': 111.0, 'W01': 132.0, 'W02': 127.0, 'Y12': 6.3, 'Y01': 7.4, 'Y02': 7.2, 'Y_sum': 20.9}
row==
{'year': 2005.0, 'd_0': datetime.datetime(2004, 11, 20, 0, 0), 'S_2802': 54.0, 'Smax': 90.0, 'd_smax': datetime.datetime(2005, 3, 20, 0, 0), 'H_2802': 229.0, 'H_max': 311.0, 'd_hmax': datetime.datetime(2005, 4, 15, 0, 0), 'X': 184.5, 'X1': 3.9, 'X2': 49.0, 'Xs': 139.1, 'Q12': 79.3, 'Q01': 74.3, 'Q02': 82.3, 'W12': 212.0, 'W01': 199.0, 'W02': 199.0, 'Y12': 12.0, 'Y01': 11.2, 'Y02': 11.2, 'Y_sum': 34.5}
db_row==
{'station_id': 79250, 'year': 2005.0, 'd_0': datetime.datetime(2004, 11, 20, 0, 0), 'S_2802': 54.0, 'Smax': 90.0, 'd_smax': datetime.datetime(2005, 3, 20, 0, 0), 'H_2802': 229.0, 'H_max': 311.0, 'd_hmax': datetime.datetime(2005, 4, 15, 0, 0), 'X': 184.5, 'X1': 3.9, 'X2': 49.0, 'Xs': 139.1, 'Q12': 79.3, 'Q01': 74.3, 'Q02': 82.3, 'W12': 212.0, 'W01': 199.0, 'W02': 199.0, 'Y12': 12.0, 'Y01': 11.2, 'Y02': 11.2, 'Y_sum': 34.5}
row==
{'year': 2006.0, 'd_0': datetime.datetime(2005, 11, 30, 0, 0), 'S_2802': 53.0, 'Smax': 90.0, 'd_smax': datetime.datetime(2006, 3, 20, 0, 0), 'H_2802': 133.0, 'H_max': 362.0, 'd_hmax': datetime.datetime(2006, 4, 9, 0, 0), 'X': 130.7, 'X1': 47.0, 'X2': 85.3, 'Xs': 96.6, 'Q12': 68.1, 'Q01': 103.0, 'Q02': 63.1, 'W12': 182.0, 'W01': 276.0, 'W02': 153.0, 'Y12': 10.3, 'Y01': 15.6, 'Y02': 8.6, 'Y_sum': 34.5}
db_row==
{'station_id': 79250, 'year': 2006.0, 'd_0': datetime.datetime(2005, 11, 30, 0, 0), 'S_2802': 53.0, 'Smax': 90.0, 'd_smax': datetime.datetime(2006, 3, 20, 0, 0), 'H_2802': 133.0, 'H_max': 362.0, 'd_hmax': datetime.datetime(2006, 4, 9, 0, 0), 'X': 130.7, 'X1': 47.0, 'X2': 85.3, 'Xs': 96.6, 'Q12': 68.1, 'Q01': 103.0, 'Q02': 63.1, 'W12': 182.0, 'W01': 276.0, 'W02': 153.0, 'Y12': 10.3, 'Y01': 15.6, 'Y02': 8.6, 'Y_sum': 34.5}
row==
{'year': 2007.0, 'd_0': datetime.datetime(2007, 1, 23, 0, 0), 'S_2802': 87.0, 'Smax': 87.0, 'd_smax': datetime.datetime(2007, 2, 28, 0, 0), 'H_2802': 123.0, 'H_max': 324.0, 'd_hmax': datetime.datetime(2007, 3, 25, 0, 0), 'X': 71.3, 'X1': 24.8, 'X2': 22.2, 'Xs': 73.6, 'Q12': 63.7, 'Q01': 64.1, 'Q02': 51.4, 'W12': 171.0, 'W01': 172.0, 'W02': 124.0, 'Y12': 9.6, 'Y01': 9.7, 'Y02': 7.0, 'Y_sum': 26.4}
db_row==
{'station_id': 79250, 'year': 2007.0, 'd_0': datetime.datetime(2007, 1, 23, 0, 0), 'S_2802': 87.0, 'Smax': 87.0, 'd_smax': datetime.datetime(2007, 2, 28, 0, 0), 'H_2802': 123.0, 'H_max': 324.0, 'd_hmax': datetime.datetime(2007, 3, 25, 0, 0), 'X': 71.3, 'X1': 24.8, 'X2': 22.2, 'Xs': 73.6, 'Q12': 63.7, 'Q01': 64.1, 'Q02': 51.4, 'W12': 171.0, 'W01': 172.0, 'W02': 124.0, 'Y12': 9.6, 'Y01': 9.7, 'Y02': 7.0, 'Y_sum': 26.4}
row==
{'year': 2008.0, 'd_0': datetime.datetime(2007, 12, 24, 0, 0), 'S_2802': 11.0, 'Smax': 26.0, 'd_smax': datetime.datetime(2008, 1, 31, 0, 0), 'H_2802': 208.0, 'H_max': 299.0, 'd_hmax': datetime.datetime(2008, 3, 8, 0, 0), 'X': 31.2, 'X1': 61.6, 'X2': 21.8, 'Xs': 73.1, 'Q12': 93.4, 'Q01': 109.0, 'Q02': 85.6, 'W12': 250.0, 'W01': 292.0, 'W02': 207.0, 'Y12': 14.1, 'Y01': 16.5, 'Y02': 11.7, 'Y_sum': 42.3}
db_row==
{'station_id': 79250, 'year': 2008.0, 'd_0': datetime.datetime(2007, 12, 24, 0, 0), 'S_2802': 11.0, 'Smax': 26.0, 'd_smax': datetime.datetime(2008, 1, 31, 0, 0), 'H_2802': 208.0, 'H_max': 299.0, 'd_hmax': datetime.datetime(2008, 3, 8, 0, 0), 'X': 31.2, 'X1': 61.6, 'X2': 21.8, 'Xs': 73.1, 'Q12': 93.4, 'Q01': 109.0, 'Q02': 85.6, 'W12': 250.0, 'W01': 292.0, 'W02': 207.0, 'Y12': 14.1, 'Y01': 16.5, 'Y02': 11.7, 'Y_sum': 42.3}
row==
{'year': 2009.0, 'd_0': datetime.datetime(2008, 12, 9, 0, 0), 'S_2802': 58.0, 'Smax': 67.0, 'd_smax': datetime.datetime(2009, 3, 10, 0, 0), 'H_2802': 234.0, 'H_max': 302.0, 'd_hmax': datetime.datetime(2009, 4, 14, 0, 0), 'X': 124.4, 'X1': 47.2, 'X2': 58.5, 'Xs': 111.4, 'Q12': 106.0, 'Q01': 62.0, 'Q02': 60.5, 'W12': 284.0, 'W01': 166.0, 'W02': 146.0, 'Y12': 16.0, 'Y01': 9.4, 'Y02': 8.3, 'Y_sum': 33.7}
db_row==
{'station_id': 79250, 'year': 2009.0, 'd_0': datetime.datetime(2008, 12, 9, 0, 0), 'S_2802': 58.0, 'Smax': 67.0, 'd_smax': datetime.datetime(2009, 3, 10, 0, 0), 'H_2802': 234.0, 'H_max': 302.0, 'd_hmax': datetime.datetime(2009, 4, 14, 0, 0), 'X': 124.4, 'X1': 47.2, 'X2': 58.5, 'Xs': 111.4, 'Q12': 106.0, 'Q01': 62.0, 'Q02': 60.5, 'W12': 284.0, 'W01': 166.0, 'W02': 146.0, 'Y12': 16.0, 'Y01': 9.4, 'Y02': 8.3, 'Y_sum': 33.7}
row==
{'year': 2010.0, 'd_0': datetime.datetime(2009, 12, 8, 0, 0), 'S_2802': 117.0, 'Smax': 117.0, 'd_smax': datetime.datetime(2010, 2, 28, 0, 0), 'H_2802': 211.0, 'H_max': 401.0, 'd_hmax': datetime.datetime(2010, 4, 5, 0, 0), 'X': 155.7, 'X1': 25.5, 'X2': 24.7, 'Xs': 158.0, 'Q12': 88.3, 'Q01': 86.0, 'Q02': 124.0, 'W12': 237.0, 'W01': 230.0, 'W02': 300.0, 'Y12': 13.4, 'Y01': 13.0, 'Y02': 16.9, 'Y_sum': 43.3}
db_row==
{'station_id': 79250, 'year': 2010.0, 'd_0': datetime.datetime(2009, 12, 8, 0, 0), 'S_2802': 117.0, 'Smax': 117.0, 'd_smax': datetime.datetime(2010, 2, 28, 0, 0), 'H_2802': 211.0, 'H_max': 401.0, 'd_hmax': datetime.datetime(2010, 4, 5, 0, 0), 'X': 155.7, 'X1': 25.5, 'X2': 24.7, 'Xs': 158.0, 'Q12': 88.3, 'Q01': 86.0, 'Q02': 124.0, 'W12': 237.0, 'W01': 230.0, 'W02': 300.0, 'Y12': 13.4, 'Y01': 13.0, 'Y02': 16.9, 'Y_sum': 43.3}
row==
{'year': 2011.0, 'd_0': datetime.datetime(2010, 11, 26, 0, 0), 'S_2802': 106.0, 'Smax': 107.0, 'd_smax': datetime.datetime(2011, 3, 10, 0, 0), 'H_2802': 160.0, 'H_max': 324.0, 'd_hmax': datetime.datetime(2011, 4, 17, 0, 0), 'X': 165.2, 'X1': 30.3, 'X2': 32.3, 'Xs': 163.2, 'Q12': 131.0, 'Q01': 108.0, 'Q02': 88.5, 'W12': 351.0, 'W01': 289.0, 'W02': 214.0, 'Y12': 19.8, 'Y01': 16.3, 'Y02': 12.1, 'Y_sum': 48.3}
db_row==
{'station_id': 79250, 'year': 2011.0, 'd_0': datetime.datetime(2010, 11, 26, 0, 0), 'S_2802': 106.0, 'Smax': 107.0, 'd_smax': datetime.datetime(2011, 3, 10, 0, 0), 'H_2802': 160.0, 'H_max': 324.0, 'd_hmax': datetime.datetime(2011, 4, 17, 0, 0), 'X': 165.2, 'X1': 30.3, 'X2': 32.3, 'Xs': 163.2, 'Q12': 131.0, 'Q01': 108.0, 'Q02': 88.5, 'W12': 351.0, 'W01': 289.0, 'W02': 214.0, 'Y12': 19.8, 'Y01': 16.3, 'Y02': 12.1, 'Y_sum': 48.3}
row==
{'year': 2012.0, 'd_0': datetime.datetime(2011, 12, 20, 0, 0), 'S_2802': 83.0, 'Smax': 87.0, 'd_smax': datetime.datetime(2012, 3, 10, 0, 0), 'H_2802': 157.0, 'H_max': 343.0, 'd_hmax': datetime.datetime(2012, 4, 25, 0, 0), 'X': 103.5, 'X1': 118.0, 'X2': 126.0, 'Xs': 94.8, 'Q12': 91.2, 'Q01': 98.3, 'Q02': 93.3, 'W12': 244.0, 'W01': 263.0, 'W02': 226.0, 'Y12': 13.8, 'Y01': 14.9, 'Y02': 12.8, 'Y_sum': 41.4}
db_row==
{'station_id': 79250, 'year': 2012.0, 'd_0': datetime.datetime(2011, 12, 20, 0, 0), 'S_2802': 83.0, 'Smax': 87.0, 'd_smax': datetime.datetime(2012, 3, 10, 0, 0), 'H_2802': 157.0, 'H_max': 343.0, 'd_hmax': datetime.datetime(2012, 4, 25, 0, 0), 'X': 103.5, 'X1': 118.0, 'X2': 126.0, 'Xs': 94.8, 'Q12': 91.2, 'Q01': 98.3, 'Q02': 93.3, 'W12': 244.0, 'W01': 263.0, 'W02': 226.0, 'Y12': 13.8, 'Y01': 14.9, 'Y02': 12.8, 'Y_sum': 41.4}
row==
{'year': 2013.0, 'd_0': datetime.datetime(2012, 12, 2, 0, 0), 'S_2802': 80.0, 'Smax': 142.0, 'd_smax': datetime.datetime(2013, 3, 30, 0, 0), 'H_2802': 210.0, 'H_max': 439.0, 'd_hmax': datetime.datetime(2013, 4, 21, 0, 0), 'X': 181.5, 'X1': 31.7, 'X2': 100.0, 'Xs': 110.7, 'Q12': 77.4, 'Q01': 80.9, 'Q02': 77.9, 'W12': 207.0, 'W01': 217.0, 'W02': 188.0, 'Y12': 11.7, 'Y01': 12.2, 'Y02': 10.6, 'Y_sum': 34.6}
db_row==
{'station_id': 79250, 'year': 2013.0, 'd_0': datetime.datetime(2012, 12, 2, 0, 0), 'S_2802': 80.0, 'Smax': 142.0, 'd_smax': datetime.datetime(2013, 3, 30, 0, 0), 'H_2802': 210.0, 'H_max': 439.0, 'd_hmax': datetime.datetime(2013, 4, 21, 0, 0), 'X': 181.5, 'X1': 31.7, 'X2': 100.0, 'Xs': 110.7, 'Q12': 77.4, 'Q01': 80.9, 'Q02': 77.9, 'W12': 207.0, 'W01': 217.0, 'W02': 188.0, 'Y12': 11.7, 'Y01': 12.2, 'Y02': 10.6, 'Y_sum': 34.6}
row==